<div class="admin-wrapper">
  <aside class="sidebar">
    <h2 class="logo">🛒 Admin Panel</h2>
    <nav>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">🏠 Anasayfa</a>
      <a routerLink="users" routerLinkActive="active">👥 Kullanıcılar</a>
      <a routerLink="products" routerLinkActive="active">📦 Ürünler</a>
      <a routerLink="add-seller" routerLinkActive="active">➕ Seller Ekle</a>
      <a routerLink="orders" routerLinkActive="active">🚚 Siparişler</a>
      <a routerLink="/admin/analytics">📊Analitik</a>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
